/*CSS reset mini
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   	License: none (public domain)****************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*******************************************************
/*handcrafted CSS starts here*/
/* main CSS ****************/
body{
	background-color: #f1f1f1;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;/* went with slightly larger font size for readability*/
    line-height: 1.4;
}
.pageContainer, .footerContainer {
	width: 986px;
	margin: auto;
	padding: 10px 25px;
}
p {
	color: #888;
}
/*really not used because
there is suppose to be one per page
I usually reserve for the page's name ect.*/
h1{

}
/*used for upper headline*/
h2 { 
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 1.3em;
	line-height: 1.2;
	margin: 1.2em 0em;
	text-transform: uppercase;
	transform: scale(1, 1.4);
}
/*used for By line*/
h3 {
	font-weight: 700;
	color: #000;
	font-size: 0.8em;
	margin: 1.2em 0em;
}
/*used for latest news& featured headlines*/
h4 {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 1.3em;
	line-height: 1.2;
	margin: 1.2em 0em;
	text-transform: uppercase;
	transform: scale(1, 1.4);
}
.latestStories h4 {
	font-family: "Arial", Gadget, sans-serif;
	font-size: 0.78em;
	font-weight: 700;
	text-transform: none;
	padding-left: 20px;
	margin: 1.7em 0em;
}
/*used for section headings*/
h5 {
	background-color: #06c;
	color:#fff;
	font-weight: 700;
	font-size: 1.3em;
	padding: 0.2em 0em;
	text-align: center;
	text-transform: uppercase;
}
/*used for video caps & more news*/
h6 {
	font-family: "Arial", Gadget, sans-serif;
	font-size: 1.2em;
	font-weight: 700;
	transform: scale(1, 1.4);
	line-height: 1.1;
	padding: 0.6em 0em 1.3em 0em;

}
.blue {
	color: #06c;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* header styles *****************************/
.mainHamburger, #headerLogo, .weatherWidget {
	display: inline-block;
    cursor: pointer;
}
.mainHamburger {
	margin-bottom: 5px;
}
.bar1, .bar2, .bar3 {
	width: 30px;
    height: 4px;
    background-color: black;
    margin: 4px 0;
    border-radius: 6px;
}
#headerLogo {
	margin-left: 42%;
}
.logo {
	max-height: 36px;
}
.weatherWidget {
	margin-left: 10%;
}
.weatherWidget img {
    max-height: 44px;
    margin-bottom: -8px;
    margin-left: 16%;
}
.secondaryDropDown {
	display: inline-block;
	font-size: 0.7em;
	font-weight: 700;
	margin-left: 4%;;
	cursor: pointer;
}
.marketChannels {
	vertical-align: middle;
    display: inline-block;
    margin-top: -25px;
}
i {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 17px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.right {
	border: solid #06c;
	transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    border-width: 0 2px 2px 0;
    border-width: 0 2px 2px 0;
    margin-left: 2px;
}

/* topStory *****************************/
.heroStory {
	margin-top: 6px;
	margin-bottom: 10px;
}
.rightCard {
    float: right;
    width: 268px;    
    height: 346px;
    padding: 25px 25px 0 25px;
    background-color: #fff;
    border-top: 5px solid #034198;
}
.rightCard a {
	color: #06c;
	text-decoration: none;
}
.rightCard h3 {
	text-transform: uppercase;
}
.upperAd {
	width: 548px;
	margin: auto;
}

/*******flexbox*********/
.flexMainContainer, .flexVideos{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 700px;
}
.latestStories, .rightColumnAds {
	width: 222px;
}
.rightColumnAds {
	float: right;
}
.featuredStories {
	width: 448px;
}
.topVideos, .moreNews, .ad {
	width: 670px;
}
.latestStories h5 {
	margin-bottom: 20px;
}
.topVideos h5, 
.moreNews h5 {
	margin: 20px auto;
}


/* Main Container *******************************/
.mainContainer {
	background-color: #fff;
	border-top: 15px solid #e1e2e1;
	padding: 30px 20px 5px 25px;
	height: 2744px;
}
.sectionLabel {
	width: 228px;
	background-color: #06c;	
}
.featured {
	margin-bottom: 20px;
}
.latest {
	border-bottom: 2px solid #e1e2e1;
	padding: 10px 10px 10px 0;
}
.latestStories img,
.latest img {
	float: left;
	padding: 10px 10px 10px 0;
}
.latestFirst {
	padding: 0 0 10px 0;
}
.latestFirst img {
	float: none;
	padding: 0;
}
.latestFirst h4 {
	padding: 0;
}
.latestStories .latest:last-child,
.moreNews .latest:last-child {
	border-bottom: none;
}
/* videos******************/
.video h6 {
	max-width: 333px;
}
.topVideos .sectionLabel {
	margin:0 36%;
}
/* more news section *******/
.latest h6 {
	padding-top: 25px;
}
.latest img {
	margin: 2% 2% 2% 0%;
}
.latest p {
	font-size: 0.85em;
}
.vertLine {
	display: inline-block;
	height: 20px;
    border-right: 2px solid #e1e2e1;
    margin: 10px 10px -7px 10px;
}
.moreNews h3 {
	margin-top: -1px;
}
.moreNews .sectionLabel {
	margin:0 40%;
}

/* Secondary Container/ ad ************************/

.secondaryContainer {
	background-color: #fff;
	border-top: 15px solid #e1e2e1;
	margin-top: 20px;
}
.ad {
		padding: 20px 0;
		text-align: center;
}
.lowerAd {
	width: 986px;
}

/* footer *****************************************/
footer {
	background-color: #000;
	padding: 0 56px;
}
.footerNav, .footerList h4,
.socialNetworks h4,
.copyWrite,
.copyWrite a,
.copyWrite p,
.socialList {
	color: #fff;
}
.footerList,
.socialList {
	display: inline-block;
}
.footerNav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 750px;
}
.footerNav h4,
.socialNetworks h4 {
	font-family: "Arial Bold", Gadget, sans-serif;
    font-size: 1.0em;
    transform: none;
}
.copyWrite p,
.footerList li,
.streetAddress,
.cityAddress,
.phoneNumb {
	font-size: 0.6em;
	line-height: 2.2;
}
.socialList {
	font-size: 0.5em;
	margin: 10px 17px 8px 0px;
	text-align: center;
}
.streetAddress,
.cityAddress,
.phoneNumb {
	display: inline-block;
}
.copyWrite {
	text-align: center;
}
.copyWrite a {
	text-decoration: none;
}
.copyWrite .vertLine {
	height: 15px;
    border-right: 1px solid #353535;
    margin: 0px 10px -4px 10px;
}

/* media query for phones***************************/
@media only screen and (max-width: 700px) {

}










