/*CSS reset mini
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   	License: none (public domain)****************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*******************************************************
/*handcrafted CSS starts here*/
body{
	font-family: "Arial", Gadget, sans-serif;
}
.widgetcontainer {
	width: 300px;
	height:600px;
	background-color: #EAEDED;
	margin: auto;
	margin-top: 20px;
}
.container {
	background-color: #FA5000;
	color: #fff;
	height: 45px;
}
.listContainer{
	margin: 0px  10px 10px 10px;
	background-color: #fff;
	padding: 0 10px;
	height: 547px;
	overflow: hidden;
}
.heading {
	padding: 10px;
}
h1 {
	font-family: 'Oleo Script', cursive;
	text-align: center;
	font-size: 27px;
	letter-spacing: 1px;
}
.jobsList {
	height: 94px;
	margin: 5px 15px;
	padding-top: 5px;
	border-bottom: 1px solid #ddd
}
li {
	line-height: 1.2;
	font-size: 14px;
}
.jbsTitle {
	font-weight: bold;
	padding-top: 8px;
}
.jbsComp{
	color: #6d7070;
}
.jbsDesc{
	font-size: 12px;
}
.jbsUrl{
	padding: 0 0 0px 195px;
	font-size: 11px;
	margin-top: -3px;
}
a {
	text-decoration: none;
	color: #3FBFC7;
}














